body {
    &.day {
        background-color: $blueye-sky-day;
        color: $blueye-grey;
        .skyline {
            background: transparent url(../icons/skyline-day.png) no-repeat center center;
        }
        input[type=range] {
            &::-moz-range-track {
                background-color: $blueye-sky-day;
            }
        }
        .sunrise-sunset {
            span {
                background-color: $blueye-sky-day;
                color: $blueye-grey;
            }
        }
    }
    &.night {
        background-color: darken($blueye-sky-day, 50%);
        color: $blueye-grey;
        .skyline {
            background: transparent url(../icons/skyline-night.png) no-repeat center center;
        }
        input[type=range] {
            &::-moz-range-track {
                background-color: darken($blueye-sky-day, 50%);
            }
        }
        .sunrise-sunset {
            span {
                background-color: darken($blueye-sky-day, 50%);
                color: $blueye-white;
            }
        }
    }
}

.text-strong {
    font-weight: bold;
}

.hide {
    display: none;
}

label {
    cursor: pointer;
}

select {
    font-weight: bold;
    -moz-appearance: none;
    border: 0 none;
    color: $blueye-grey;
    cursor: pointer;
}

.container {
    padding: 40px 0 0 0;
    width: 300px;
    overflow: hidden;
    .container-wheel {
        height: 300px;
        position: relative;
        .skyline {
            width: 300px;
            height: 50px;
            position: absolute;
            top: 50px;
        }
        .wheel {
            position: relative;
            border-radius: 200px;
            width: 200px;
            height: 200px;
            margin: 0 auto;
            animation: spin-right linear normal forwards;
        }
        .sun {
            color: $blueye-sun;
            position: absolute;
            top: 70px;
            .fa-circle {
                font-size: 45px;
                text-shadow: 0 0 12px lighten($blueye-sun, 20%);
            }
        }
        .moon {
            color: $blueye-white;
            position: absolute;
            top: 70px;
            .fa-circle {
                font-size: 45px;
                text-shadow: 0 0 12px $blueye-white;
            }
        }
        .version {
            position: absolute;
            bottom: 2px;
            right: 4px;
            font-size: 0.6rem;
        }
        .infos {
            position: absolute;
            top: 100px;
            width: 300px;
            height: 200px;
            background-color: $blueye-white;
            padding: 10px;
            display: flex;
            &.full-center {
                justify-content: center;
                align-items: center;
            }
            &.style-data {
                flex-direction: column;
                .sunrise-sunset {
                    display: flex;
                    justify-content: space-between;
                    span {
                        display: inline-block;
                        font-size: 0.8rem;
                        padding: 2px 6px;
                        border-radius: 4px;
                        i {
                            font-size: 1rem;
                        }
                    }
                    #datetime {
                        font-weight: bold;
                    }
                }
                .filtre {
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                    div {
                        margin: 5px 0;
                        &.filtre-intensity {
                            display: flex;
                            align-items: center;
                        }
                    }
                    input[type=checkbox] {
                        margin: 0 5px 0 0;
                    }
                    input[type=range] {
                        width: auto;
                        margin: 0 5px;
                        &::-moz-range-track {
                            height: 4px;
                        }
                        &::-moz-range-thumb {
                          background-color: $blueye-white;
                          border: 1px solid $blueye-grey;
                        }
                    }
                }
                .location {
                    text-align: center;
                    margin-top: 20px;
                }
            }
            .infos-loader {
                i {
                    color: $blueye-grey;
                }
            }
            .infos-data {
                display: none;
            }
        }
    }
}
